@model EasyFast.Application.Lawyer.Dto.LawyerDto
@using Abp.Web.Mvc.Extensions

<div class="form-group">
    <label class="control-label col-md-2">@Html.DisplayNameFor(model => model.Title)</label>
    <div class="col-md-10">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-share-alt"></i>
            </span>
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "请输入律师姓名" } })
        </div>
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">@Html.DisplayNameFor(model => model.Info)</label>
    <div class="col-md-10">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-share-alt"></i>
            </span>
            @Html.EditorFor(model => model.Info, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写律师简介" } })
        </div>
        @Html.ValidationMessageFor(model => model.Info, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">@Html.DisplayNameFor(model => model.DefaultPicUrl)</label>
    <div class="col-md-10">
        <div id="defaultPic">
            <div id="fileList" class="uploader-list">
                <img src="@Model.DefaultPicUrl" />
            </div>
            <div id="filePicker">选择图片</div>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">职位</label>
    <div class="col-md-10">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-folder-o"></i>
            </span>

            @Html.TextBoxFor(model => model.Position, new { @class = "form-control", rows = "5", placeholder = "请输入职位描述" })
        </div>
        @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">手机号码</label>
    <div class="col-md-10">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-folder-o"></i>
            </span>
            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", rows = "5", placeholder = "请输入手机号码" })
        </div>
        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">邮箱地址</label>
    <div class="col-md-10">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-folder-o"></i>
            </span>
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", rows = "5", placeholder = "请输入邮箱地址" })
        </div>
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">请输入律师详细介绍内容</label>
    <div class="col-md-10">
        <textarea id="content" name="content" style="height:400px;max-height:500px;">
        <p>@Html.Raw(Model.Content)</p>
        </textarea>
    </div>
</div>

@Html.IncludeScript("/Areas/Admin/Views/lawyer/addOrEdit.js");