@model EasyFast.Application.Content.Dto.AddContentDto

<div class="portlet box blue ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-share-alt"></i>添加内容
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title="收缩/展开"></a>
            <a href="#portlet-config" data-toggle="modal" class="config"></a>
            <a href="javascript:;" class="reload" data-original-title="" title="刷新"></a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form id="addContent" class="form-horizontal form-bordered form-row-stripped">
            @Html.HiddenFor(model=>model.Id)
            @Html.HiddenFor(model => model.ColumnId)
            @Html.HiddenFor(model => model.ModelId)
            @Html.HiddenFor(model => model.DefaultPicUrl)
            <input type="hidden" id="Dir" name="Dir" value="/"/>
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-2">标题</label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-share-alt"></i>
                            </span>
                            @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control", placeholder = "请输入标题"}})
                        </div>
                        @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
                    </div>
                </div>
                <!--具体内容-->
                @{Html.RenderAction((string) ViewBag.action, (string) ViewBag.ctrl);}
                <div class="form-group">
                    <label class="control-label col-md-2">简介</label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-share-alt"></i>
                            </span>
                            @Html.EditorFor(model => model.Info, new {htmlAttributes = new {@class = "form-control", placeholder = "请填写简介"}})
                        </div>
                        @Html.ValidationMessageFor(model => model.Info, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">默认图片</label>
                    <div class="col-md-10">
                        <div id="defaultPic">
                            <div id="fileList" class="uploader-list"><img src="@Model.DefaultPicUrl"/>
                            </div>
                            <div id="filePicker">选择图片</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">浏览量</label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-file-text-o"></i>
                            </span>
                            @Html.EditorFor(model => model.Hits, new {htmlAttributes = new {@class = "form-control", placeholder = "输入一个数字", style = "width:200px;"}})
                        </div>
                        @Html.ValidationMessageFor(model => model.Hits, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">关键字</label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-file-code-o"></i>
                            </span>
                            @Html.EditorFor(model => model.Keyword, new {htmlAttributes = new {@class = "form-control", placeholder = "搜索关键字用逗号隔开", style = "width:200px;"}})
                        </div>
                        @Html.ValidationMessageFor(model => model.Keyword, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">搜索引擎描述</label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-folder-o"></i>
                            </span>
                            @Html.TextAreaFor(model => model.Description, new {@class = "form-control", rows = "5", placeholder = "搜索引擎描述"})
                        </div>
                        @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-9">
                            <button id="submit" onclick="submitConent()" type="button" class="btn blue">
                                <i class="fa fa-check"></i>提交
                            </button>
                            <button type="button" onclick="location.href = 'Index'" class="btn default">
                                <i class="fa fa-reply"></i>返回
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>

<script type="text/javascript">

    var upload = WebUploader.create({
        auto: true,
        swf: "/Content/Uploader.swf",
        server: "/Admin/Content/UploadFile",
        pick: "#filePicker",
        accept: {
            title: "Images",
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        },
        formData: {
            modelName: '@ViewBag.modelName'
        }
    });


    upload.on('fileQueued', function (file) {
        $("#fileList").empty();
        var $li = $(
            '<div id="' + file.id + '" class="file-item thumbnail">' +
            '<img>' +
            '<div class="info">' + file.name + '</div>' +
            '</div>'
        ),
            $img = $li.find('img');


        // $list为容器jQuery实例
        $("#fileList").append($li);
        upload.makeThumb(file, function (error, src) {
            if (error) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }

            $img.attr('src', src);
        }, 100, 100);
    });

    //上传成功
    upload.on('uploadSuccess', function (file, response) {

        $('#' + file.id).addClass('upload-state-done');
        abp.notify.success("上传默认图片成功!");
        $("#DefaultPicUrl").val(response);
        console.log($("#DefaultPicUrl").val());
    });

</script>
