@using System.Threading
@{
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh-cn" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="zh-cn" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-cn">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    @if (string.IsNullOrEmpty(ViewBag.Title))
    {
        <title>易迅CMS系统</title>
    }
    else
    {
        <title>@ViewBag.Title - 易迅CMS系统</title>
    }
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    @Scripts.Render("~/Bundles/vendor/admin/js/bottom")
    <link href="http://cdn.easyfast.cn/assets/metronic4.7.1/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.easyfast.cn/assets/metronic4.7.1/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.easyfast.cn/assets/metronic4.7.1/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.easyfast.cn/assets/metronic4.7.1/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.easyfast.cn/assets/metronic4.7.1/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="http://cdn.easyfast.cn/assets/metronic4.7.1/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="http://cdn.easyfast.cn/assets/metronic4.7.1/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="http://cdn.easyfast.cn/assets/metronic4.7.1/layouts/layout2/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.easyfast.cn/assets/metronic4.7.1/layouts/layout2/css/themes/blue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="http://cdn.easyfast.cn/assets/metronic4.7.1/layouts/layout2/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <!--插件-->
    <link href="http://cdn.easyfast.cn/assets/toastr-master/build/toastr.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.easyfast.cn/assets/jquery-easyui-1.5/themes/bootstrap/easyui.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.easyfast.cn/assets/layer-v2.4/layer/skin/layer.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.easyfast.cn/assets/sweetalert-master/dist/sweetalert.css" rel="stylesheet" type="text/css" />

    <!--WebUpload-->
    <link href="http://cdn.bootcss.com/webuploader/0.1.1/webuploader.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/webuploader/0.1.1/webuploader.min.js"></script>

    <!--自定义样式-->
    <link href="~/Content/site.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.ico" />

    <!--wangEditor-->
    <link href="~/Content/wangEditor.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/jtable/themes/lightcolor/blue/jtable.min.css" rel="stylesheet" type="text/css" />
    
    <!--jsTree-->
    <link href="~/Scripts/jstree/themes/default/style.css" rel="stylesheet" type="text/css" />
</head>
<!-- END HEAD -->
<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-md">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="/admin/home/index">
                    <img src="http://cdn.easyfast.cn/assets/metronic4.7.1/layouts/layout2/img/logo-default.png" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>

            <!-- END PAGE ACTIONS -->
            <!-- BEGIN PAGE TOP -->
            <div class="page-top">
                <!-- BEGIN HEADER SEARCH BOX -->
                <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
                <!-- END HEADER SEARCH BOX -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" class="img-circle" src="http://cdn.easyfast.cn/assets/metronic4.7.1/layouts/layout2/img/avatar3_small.jpg" />
                                <span class="username username-hide-on-mobile"> Nick </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="/Account/Logout">
                                        <i class="icon-key"></i> Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- END SIDEBAR -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    @Html.Action("Navigation", "Home", new { currentPageName = ViewBag.CurrentPageName })
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
            <!-- END SIDEBAR -->
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                @Html.Partial("_Breadcrumb")
                @RenderBody()
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->
        <a href="javascript:;" class="page-quick-sidebar-toggler">
            <i class="icon-login"></i>
        </a>

        <!-- END QUICK SIDEBAR -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            2017 &copy; By
            <a target="_blank" href="https://github.com/JingShOnline/EasyFastCMS">EastFastCms</a>
        </div>

    </div>
    <!-- END QUICK NAV -->
    <!--[if lt IE 9]>
    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/global/plugins/respond.min.js"></script>
    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/global/plugins/excanvas.min.js"></script>
    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->

    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    @Scripts.Render("~/Bundles/vendor/admin/js/bottom")
    <script src="~/api/AbpServiceProxies/GetAll"></script>
    <script src="~/AbpScripts/GetScripts" type="text/javascript"></script>
   
    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="http://cdn.bootcss.com/jqueryui/1.10.4/jquery.ui.widget.min.js" type="text/javascript"></script>
   
    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>

    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/pages/scripts/dashboard.min.js" type="text/javascript"></script>
    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/layouts/layout2/scripts/layout.min.js" type="text/javascript"></script>
    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/layouts/layout2/scripts/demo.min.js" type="text/javascript"></script>
    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <!--插件-->
    <script src="http://cdn.easyfast.cn/assets/toastr-master/build/toastr.min.js" type="text/javascript"></script>
    <script src="http://cdn.easyfast.cn/assets/jquery-easyui-1.5.1/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="http://cdn.easyfast.cn/assets/jquery-easyui-1.5.1/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
    <script src="http://cdn.easyfast.cn/assets/jquery-easyui-1.5.1/jquery.easyui.mobile.js" type="text/javascript"></script>
    <script src="http://cdn.easyfast.cn/assets/layer-v2.4/layer/layer.js" type="text/javascript"></script>
    <script src="http://cdn.easyfast.cn/assets/sweetalert-master/dist/sweetalert.min.js" type="text/javascript"></script>


    <!--WangEditor-->
    <script src="~/Scripts/wangEditor.min.js"></script>
    <script src="~/Scripts/abp.extend.js"></script>
    <script src="~/Scripts/easyui.extend.js"></script>
    <script src="~/Scripts/admin.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jtable/jquery.jtable.min.js"></script>
    <script src="~/Scripts/jtable/localization/jquery.jtable.zh-CN.js"></script>
    <script src="~/Abp/Framework/scripts/libs/abp.jtable.js"></script>

    <script>
        //Localizing momentjs
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
    </script>

    @RenderSection("scripts", required: false)

</body>
</html> 